body {
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.navbar .login {
  float: right;
}
.navbar .login form {
  margin: 0; padding: 0;
}

.footer {

  margin-top: 30px;
}

.add-remove input {
    width: 30px;
    text-algin: center;
}

.channelContent {

}

.channelList {
    padding-left: 16px;
    margin-left: 16px;
}

.channelMeta {
    padding: 16px 0px;
    background: white;
    z-index: +1;
    position: sticky;
    top:0;
}

.messages {
    padding: 16px;
    z-index: -1;
    padding-bottom: 100px;
}

.messageBar {
    position: fixed;
    bottom: 0px;
    padding: 16px;
    min-width: 600px; /* fixed is ugly but no time for bootstrap fun */
    background: white;
}

.nav-sidebar h5 {
    padding-left: 10px;
}

@ messageMark {

}

@ textMsg {
    background: white;
}

.errors {
    padding: 16px;
    z-index: +2;
    padding-bottom: 100px;
}
